.header-container {
  margin-bottom: 2rem;
  width: 100%;
  height: 4rem;
  display: block;
  }

.navigation-wrapper {
  height: 78px;
  padding-left: 3.57143vw;
  padding-right: 3.57143vw;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;

}

.header-image {
  margin-top: 10px;
  margin-left: 50px;
  height: 45px;
  width: 45px;
  position: relative;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 1rem;
  margin: 0;
  float: right;
}

.nav-item {
  color: #999999;
  font-size: .9rem;
  margin-right: 2rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}
